* {
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
}
  
body {
    font-size: 1.5rem;
    line-height: 1.3;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
    /* heading = 0 */
    counter-reset:heading;
}
  
a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 15px;
}
  
button {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}
  
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
/* wrapper */
.wrapper{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    background-color: #272a31;
}
  /* List container */
.list{
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    background: #333838;;
}

  /* Animated gradient text - right to left */
.list__text {
    display: inline-block;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 600;
  
    background: linear-gradient(120deg, #4158D0, #C850C0, #FFCC70);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  
    animation: animateGradient 3s linear infinite;
}
  
  /* Keyframes for right-to-left movement */
@keyframes animateGradient {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: 0% center;
    }
}

  /* list-top */
.list-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.list-top .search-list{
    width: 240px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(100 122 152);
    border-radius: 4px;
    background: transparent;
}
.search-list input{
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
}
.search-list i{
    width: 15px;
    height: 15px !important;
    color: #fff;
}

/* Lesson */
.lesson i,p{
    color: rgb(0, 147, 252);
}
.lesson p{
    font-size: 1.2rem;
    margin-top: 3px;
}

span{
    margin-top: 10px;
    display: block;
    border-top: 1px solid #474646;
}

/* list-item */
.list-item{
    min-height: 1351px;
}
.list-item h2{
   counter-increment: heading;

   /* sub-heading = 0 */
   counter-reset: sub-heading;
}
ol li {
    counter-increment: sub-heading;
    padding: 0px 28px;
    height: 40px;
    line-height: 40px;
    font-size: 1,2rem;
    color: #fff;
}
ol li::before {
    content: counter(heading) "." counter(sub-heading) " ";
}

ol li:first-child::before{
    content: "";
    display: block;
    border-top: 1px solid #000;
}
ol  li::after{
    content: "";
    display: block;
    border-top: 1px solid #000;
}
.list-item h2::before{
    content: counter(heading) ".";
}
.list-item__title-1 h2,
.list-item__title-2 h2,
.list-item__title-3 h2
{
    position: sticky;
    top: 128px;
    padding: 12px 0 12px 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    background: #333838;
}
.list-item__title-3{
    height: 300px;
}